<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="back-btn" defaultHref="labs"></ion-back-button>
        </ion-buttons>

        <ion-title class="title">نسيت الرقم السري</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="header-section">
        <div class="header-section-img">
            <img class="lab-image" src="../../../../../assets/img/male.png" >
        </div>

        <ion-card >
            <form class="form"  *ngIf="!showUpdatePassword" [formGroup]="forgetPasswordForm" (ngSubmit)="onSave()" >
                <ion-grid fixed>

                    <ion-row class="dd-section">
                        <ion-col size="12" size-md="6" size-lg="4">
                            <label class="static-label">ايميلك المسجل*</label>
                            <input formControlName="email" placeholder="eslam.example@gmail.com" type="email" id="email"
                                pInputText 
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <div
                                *ngIf="(forgetPasswordControls.email.touched || submitted) && forgetPasswordControls.email.errors?.required">
                                <small class="d-block" id="transportName-help" class="p-error">*يرجي ادخال
                                    ايميلك المسجل</small>
                            </div>
                            <div
                                *ngIf="forgetPasswordControls.email.errors && forgetPasswordControls.email.errors.pattern">
                                <small class="d-block" id="transportName-help" class="p-error">*يرجي ادخال
                                    ايميل صحيح</small>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="btn-section" size="12" size-md="6" size-lg="4">
                            <ion-button type="submit">ارسال الكود</ion-button>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </form>

            <form class="form" *ngIf="showUpdatePassword" [formGroup]="newPasswordForm" (ngSubmit)="onUpdatePassword()" >
                <ion-grid fixed>

                    <ion-row class="dd-section">
                        <ion-col size="12" size-md="6" size-lg="4">
                            <div class="static-label">الرقم السري*</div>
                                <p-password minlength="7" required formControlName="password" placeholder="*******"></p-password>
                            <div *ngIf="(newPasswordControls.password.touched || submitted) && newPasswordControls.password.errors?.required">
                                <small class="d-block" id="transportName-help" class="p-error">*يرجي ادخال الرقم السري</small>
                            </div>
                            <div *ngIf="newPasswordControls.password.errors && newPasswordControls.password.errors.minlength" class = "p-error">
                                <small class="d-block" id="transportName-help" class="p-error">*يرجي ادخال الرقم السري اكثر من 8 احرف</small>
                              </div>  
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="btn-section" size="12" size-md="6" size-lg="4">
                            <ion-button type="submit">حفظ</ion-button>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </form>
 
        </ion-card>
    </div>
    
</ion-content>